body{
    background:url(/images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.main-inner{
// margin-top: 60px;
// padding: 60px 60px 60px 60px;

    opacity:0.9;
}
.content{
    border-radius:10px;
    margin-top:60px;
    background:rgba(226,245,247,100%)none repeat scroll!important;
//background:rgba(255, 255, 255, 85%) none repeat scroll !important;
}


.header-inner{
    opacity:0.8;
}

.post-body p{text-indent:2em;}